<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>954772503039-bf2l7qr7o01jvl39iav5c4c3t4vnlmuk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954772503039-bf2l7qr7o01jvl39iav5c4c3t4vnlmuk</string>
	<key>API_KEY</key>
	<string>AIzaSyAethC_UbqQJG6n93Qk-yp4pJE5uDjBllI</string>
	<key>GCM_SENDER_ID</key>
	<string>954772503039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crypto</string>
	<key>PROJECT_ID</key>
	<string>crypto-wallet-a8f3d</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-wallet-a8f3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954772503039:ios:0108b2fb61ee0b6342cfca</string>
</dict>
</plist>